<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1800 seconds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26B6F3891CBDC28800CDE525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B6F3981CBDC28900CDE525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B6F3A31CBDC28900CDE525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
